{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <a href="{{url_for('index')}}"><img src="/static/img/logo.svg"></a>
        <h2 class="form-signin-heading" style="color:red;">nome utente o password errati!</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
        <a href="{{url_for('signup')}}"> Non ti sei ancora registrato? Clicca qui!</a>
      </form>

    </div> <!-- /container -->
{% endblock %}